name: Simulator Sanity Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  sim-startup:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Simulator Sanity Test
        run: |
          uv run robotpy --main src test
